html {
    background-image: url(https://i.pinimg.com/originals/bf/57/21/bf5721c77ca5a0277107284d5aa16018.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    text-align: center;
}
