@use "general";
$main-font-color: white;

h1 {
    font-size: 50px;
    font-weight: bold;
    color: $main-font-color;
}


div {
    > h2 {
    font-size: 35px;
    color: $main-font-color;

    &:hover {
        color: $main-font-color;
        border: solid 3px whitesmoke;} 
    }

    > p{
    color: $main-font-color;
    font-size: 20px;
    
    &:active {
    font-size: 35px;}
    }

    > a{
    &:link {
    font-size: 20px;
    color: rgb(235, 133, 126);}

    &:visited{
    color: rgb(235, 133, 126)}
    }
}

p + img,img {
    border-color:gold;
    border-width: 5px;
    border-style: dotted;
}